<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309121341037-htl528ee5mtabq0thc2an56tm8k02f4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309121341037-htl528ee5mtabq0thc2an56tm8k02f4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309121341037-5o36mrf50ae8kslf5qp9m970h185hkjr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrU6tiZX-bK1qFAuQ-digV0J9LQeg2yc0</string>
	<key>GCM_SENDER_ID</key>
	<string>309121341037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinoth.jobhunter</string>
	<key>PROJECT_ID</key>
	<string>job-hunter-63fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>job-hunter-63fdc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309121341037:ios:2a13dad7362a726c049164</string>
</dict>
</plist>